<h2>Welcome {{user_name}}!</h2>

<form>
    <h2>Create Post</h2>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Blog Name</label>
        <input type="text" class="form-control" id="blog_name" placeholder="text">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-secondary" id="create-post">create post</button>
</form>

{{#each blogs as |blog| }}
<div class="row mb-4 blog">
    <div class="col-md-5">
        <h2>
            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
            <a href="/blog/{{blog.id}}">{{blog.blog_name}}</a>
        </h2>
        <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
    </div>
    <div class="col-md-7">
        <p>
            {{blog.description}}
        </p>
    </div>
    <div class="col-md-4"></div>
    <button type="button" class="btn btn-sm btn-secondary delete" data-id="{{blog.id}}">Delete</button>
</div>
</div>
{{/each}}


<script src="/js/profile.js"></script>